name: Tests CUDA

on:
  push:
    branches: main
  pull_request:
    branches: main

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}-${{ github.actor }}
  cancel-in-progress: true

jobs:
  unit_test:
    uses: ./.github/workflows/unit_tests.yml

  functional_test:
    needs: [unit_test]
    if: success()
    uses: ./.github/workflows/functional_tests.yml
